@font-face {
  font-family: "FiraSans";
  src: url(./assets/fonts/FiraSans-Regular.ttf);
}

body {
  margin: 0px !important;
  padding: 0px !important;
  font-family: FiraSans, sans-serif !important;
}
